<h1>Stupid Coaching </h1>
<p>       </p>
<p>Ask Coach anything:</p>
<p>    </p>
<form action="/answer">
  <input type="text" name="answer" >
  <input type="submit" value="Ask!" class="btn btn-success">
</form>



